=begin
#Superset

#Superset

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.40
=end

module SwaggerClient
  class AnnotationLayersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes multiple annotation layers in a bulk operation.
    # @param [Hash] opts the optional parameters
    # @option opts [GetDeleteIdsSchema] :q 
    # @return [InlineResponse400]
    def api_v1_annotation_layer_delete(opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_delete_with_http_info(opts)
      data
    end

    # Deletes multiple annotation layers in a bulk operation.
    # @param [Hash] opts the optional parameters
    # @option opts [GetDeleteIdsSchema] :q 
    # @return [Array<(InlineResponse400, Integer, Hash)>] InlineResponse400 data, response status code and response headers
    def api_v1_annotation_layer_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_delete ...'
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse400' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of Annotation layers, use Rison or JSON query parameters for filtering, sorting, pagination and for selecting specific columns and metadata.
    # @param [Hash] opts the optional parameters
    # @option opts [GetListSchema] :q 
    # @return [InlineResponse200]
    def api_v1_annotation_layer_get(opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_get_with_http_info(opts)
      data
    end

    # Get a list of Annotation layers, use Rison or JSON query parameters for filtering, sorting, pagination and for selecting specific columns and metadata.
    # @param [Hash] opts the optional parameters
    # @option opts [GetListSchema] :q 
    # @return [Array<(InlineResponse200, Integer, Hash)>] InlineResponse200 data, response status code and response headers
    def api_v1_annotation_layer_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_get ...'
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse200' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get metadata information about this API resource
    # @param [Hash] opts the optional parameters
    # @option opts [GetInfoSchema] :q 
    # @return [InlineResponse2001]
    def api_v1_annotation_layer_info_get(opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_info_get_with_http_info(opts)
      data
    end

    # Get metadata information about this API resource
    # @param [Hash] opts the optional parameters
    # @option opts [GetInfoSchema] :q 
    # @return [Array<(InlineResponse2001, Integer, Hash)>] InlineResponse2001 data, response status code and response headers
    def api_v1_annotation_layer_info_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_info_get ...'
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/_info'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2001' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_info_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Annotation layer
    # @param pk The annotation layer pk for this annotation
    # @param annotation_id The annotation pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse400]
    def api_v1_annotation_layer_pk_annotation_annotation_id_delete(pk, annotation_id, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_annotation_annotation_id_delete_with_http_info(pk, annotation_id, opts)
      data
    end

    # Delete Annotation layer
    # @param pk The annotation layer pk for this annotation
    # @param annotation_id The annotation pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse400, Integer, Hash)>] InlineResponse400 data, response status code and response headers
    def api_v1_annotation_layer_pk_annotation_annotation_id_delete_with_http_info(pk, annotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_delete ...'
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_delete"
      end
      # verify the required parameter 'annotation_id' is set
      if @api_client.config.client_side_validation && annotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_id' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}/annotation/{annotation_id}'.sub('{' + 'pk' + '}', pk.to_s).sub('{' + 'annotation_id' + '}', annotation_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse400' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_annotation_annotation_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get an Annotation layer
    # @param pk The annotation layer pk for this annotation
    # @param annotation_id The annotation pk
    # @param [Hash] opts the optional parameters
    # @option opts [GetItemSchema] :q 
    # @return [InlineResponse2005]
    def api_v1_annotation_layer_pk_annotation_annotation_id_get(pk, annotation_id, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_annotation_annotation_id_get_with_http_info(pk, annotation_id, opts)
      data
    end

    # Get an Annotation layer
    # @param pk The annotation layer pk for this annotation
    # @param annotation_id The annotation pk
    # @param [Hash] opts the optional parameters
    # @option opts [GetItemSchema] :q 
    # @return [Array<(InlineResponse2005, Integer, Hash)>] InlineResponse2005 data, response status code and response headers
    def api_v1_annotation_layer_pk_annotation_annotation_id_get_with_http_info(pk, annotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_get ...'
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_get"
      end
      # verify the required parameter 'annotation_id' is set
      if @api_client.config.client_side_validation && annotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_id' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_get"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}/annotation/{annotation_id}'.sub('{' + 'pk' + '}', pk.to_s).sub('{' + 'annotation_id' + '}', annotation_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2005' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_annotation_annotation_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update an Annotation layer
    # @param body Annotation schema
    # @param pk The annotation layer pk for this annotation
    # @param annotation_id The annotation pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2006]
    def api_v1_annotation_layer_pk_annotation_annotation_id_put(body, pk, annotation_id, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_annotation_annotation_id_put_with_http_info(body, pk, annotation_id, opts)
      data
    end

    # Update an Annotation layer
    # @param body Annotation schema
    # @param pk The annotation layer pk for this annotation
    # @param annotation_id The annotation pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2006, Integer, Hash)>] InlineResponse2006 data, response status code and response headers
    def api_v1_annotation_layer_pk_annotation_annotation_id_put_with_http_info(body, pk, annotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_put ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_put"
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_put"
      end
      # verify the required parameter 'annotation_id' is set
      if @api_client.config.client_side_validation && annotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_id' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_annotation_id_put"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}/annotation/{annotation_id}'.sub('{' + 'pk' + '}', pk.to_s).sub('{' + 'annotation_id' + '}', annotation_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse2006' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_annotation_annotation_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes multiple annotation in a bulk operation.
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @option opts [GetDeleteIdsSchema] :q 
    # @return [InlineResponse400]
    def api_v1_annotation_layer_pk_annotation_delete(pk, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_annotation_delete_with_http_info(pk, opts)
      data
    end

    # Deletes multiple annotation in a bulk operation.
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @option opts [GetDeleteIdsSchema] :q 
    # @return [Array<(InlineResponse400, Integer, Hash)>] InlineResponse400 data, response status code and response headers
    def api_v1_annotation_layer_pk_annotation_delete_with_http_info(pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_delete ...'
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_delete"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}/annotation/'.sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse400' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_annotation_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of Annotation layers, use Rison or JSON query parameters for filtering, sorting, pagination and for selecting specific columns and metadata.
    # @param pk The annotation layer id for this annotation
    # @param [Hash] opts the optional parameters
    # @option opts [GetListSchema] :q 
    # @return [InlineResponse2004]
    def api_v1_annotation_layer_pk_annotation_get(pk, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_annotation_get_with_http_info(pk, opts)
      data
    end

    # Get a list of Annotation layers, use Rison or JSON query parameters for filtering, sorting, pagination and for selecting specific columns and metadata.
    # @param pk The annotation layer id for this annotation
    # @param [Hash] opts the optional parameters
    # @option opts [GetListSchema] :q 
    # @return [Array<(InlineResponse2004, Integer, Hash)>] InlineResponse2004 data, response status code and response headers
    def api_v1_annotation_layer_pk_annotation_get_with_http_info(pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_get ...'
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_get"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}/annotation/'.sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2004' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_annotation_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Annotation layer
    # @param body Annotation schema
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2011]
    def api_v1_annotation_layer_pk_annotation_post(body, pk, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_annotation_post_with_http_info(body, pk, opts)
      data
    end

    # Create an Annotation layer
    # @param body Annotation schema
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2011, Integer, Hash)>] InlineResponse2011 data, response status code and response headers
    def api_v1_annotation_layer_pk_annotation_post_with_http_info(body, pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_post"
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_annotation_post"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}/annotation/'.sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse2011' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_annotation_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Annotation layer
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse400]
    def api_v1_annotation_layer_pk_delete(pk, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_delete_with_http_info(pk, opts)
      data
    end

    # Delete Annotation layer
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse400, Integer, Hash)>] InlineResponse400 data, response status code and response headers
    def api_v1_annotation_layer_pk_delete_with_http_info(pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_delete ...'
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_delete"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}'.sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse400' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get an Annotation layer
    # @param pk 
    # @param [Hash] opts the optional parameters
    # @option opts [GetItemSchema] :q 
    # @return [InlineResponse2002]
    def api_v1_annotation_layer_pk_get(pk, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_get_with_http_info(pk, opts)
      data
    end

    # Get an Annotation layer
    # @param pk 
    # @param [Hash] opts the optional parameters
    # @option opts [GetItemSchema] :q 
    # @return [Array<(InlineResponse2002, Integer, Hash)>] InlineResponse2002 data, response status code and response headers
    def api_v1_annotation_layer_pk_get_with_http_info(pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_get ...'
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_get"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}'.sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2002' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update an Annotation layer
    # @param body Annotation schema
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2003]
    def api_v1_annotation_layer_pk_put(body, pk, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_pk_put_with_http_info(body, pk, opts)
      data
    end

    # Update an Annotation layer
    # @param body Annotation schema
    # @param pk The annotation layer pk for this annotation
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2003, Integer, Hash)>] InlineResponse2003 data, response status code and response headers
    def api_v1_annotation_layer_pk_put_with_http_info(body, pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_pk_put ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_put"
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling AnnotationLayersApi.api_v1_annotation_layer_pk_put"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/{pk}'.sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse2003' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_pk_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Annotation layer
    # @param body Annotation Layer schema
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse201]
    def api_v1_annotation_layer_post(body, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_post_with_http_info(body, opts)
      data
    end

    # Create an Annotation layer
    # @param body Annotation Layer schema
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse201, Integer, Hash)>] InlineResponse201 data, response status code and response headers
    def api_v1_annotation_layer_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnnotationLayersApi.api_v1_annotation_layer_post"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse201' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param column_name 
    # @param [Hash] opts the optional parameters
    # @option opts [GetRelatedSchema] :q 
    # @return [RelatedResponseSchema]
    def api_v1_annotation_layer_related_column_name_get(column_name, opts = {})
      data, _status_code, _headers = api_v1_annotation_layer_related_column_name_get_with_http_info(column_name, opts)
      data
    end

    # @param column_name 
    # @param [Hash] opts the optional parameters
    # @option opts [GetRelatedSchema] :q 
    # @return [Array<(RelatedResponseSchema, Integer, Hash)>] RelatedResponseSchema data, response status code and response headers
    def api_v1_annotation_layer_related_column_name_get_with_http_info(column_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationLayersApi.api_v1_annotation_layer_related_column_name_get ...'
      end
      # verify the required parameter 'column_name' is set
      if @api_client.config.client_side_validation && column_name.nil?
        fail ArgumentError, "Missing the required parameter 'column_name' when calling AnnotationLayersApi.api_v1_annotation_layer_related_column_name_get"
      end
      # resource path
      local_var_path = '/api/v1/annotation_layer/related/{column_name}'.sub('{' + 'column_name' + '}', column_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'RelatedResponseSchema' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationLayersApi#api_v1_annotation_layer_related_column_name_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
