=begin
#Superset

#Superset

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.40
=end

module SwaggerClient
  class FilterSetRestApiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a dashboard's list of filter sets
    # @param dashboard_id The id of the dashboard
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse20016>]
    def api_v1_dashboard_dashboard_id_filtersets_get(dashboard_id, opts = {})
      data, _status_code, _headers = api_v1_dashboard_dashboard_id_filtersets_get_with_http_info(dashboard_id, opts)
      data
    end

    # Get a dashboard&#x27;s list of filter sets
    # @param dashboard_id The id of the dashboard
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20016>, Integer, Hash)>] Array<InlineResponse20016> data, response status code and response headers
    def api_v1_dashboard_dashboard_id_filtersets_get_with_http_info(dashboard_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_get ...'
      end
      # verify the required parameter 'dashboard_id' is set
      if @api_client.config.client_side_validation && dashboard_id.nil?
        fail ArgumentError, "Missing the required parameter 'dashboard_id' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_get"
      end
      # resource path
      local_var_path = '/api/v1/dashboard/{dashboard_id}/filtersets'.sub('{' + 'dashboard_id' + '}', dashboard_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<InlineResponse20016>' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterSetRestApiApi#api_v1_dashboard_dashboard_id_filtersets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a Dashboard.
    # @param dashboard_id 
    # @param pk 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse400]
    def api_v1_dashboard_dashboard_id_filtersets_pk_delete(dashboard_id, pk, opts = {})
      data, _status_code, _headers = api_v1_dashboard_dashboard_id_filtersets_pk_delete_with_http_info(dashboard_id, pk, opts)
      data
    end

    # Deletes a Dashboard.
    # @param dashboard_id 
    # @param pk 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse400, Integer, Hash)>] InlineResponse400 data, response status code and response headers
    def api_v1_dashboard_dashboard_id_filtersets_pk_delete_with_http_info(dashboard_id, pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_pk_delete ...'
      end
      # verify the required parameter 'dashboard_id' is set
      if @api_client.config.client_side_validation && dashboard_id.nil?
        fail ArgumentError, "Missing the required parameter 'dashboard_id' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_pk_delete"
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_pk_delete"
      end
      # resource path
      local_var_path = '/api/v1/dashboard/{dashboard_id}/filtersets/{pk}'.sub('{' + 'dashboard_id' + '}', dashboard_id.to_s).sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse400' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterSetRestApiApi#api_v1_dashboard_dashboard_id_filtersets_pk_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Changes a Dashboard's Filter set.
    # @param body Filter set schema
    # @param dashboard_id 
    # @param pk 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20017]
    def api_v1_dashboard_dashboard_id_filtersets_pk_put(body, dashboard_id, pk, opts = {})
      data, _status_code, _headers = api_v1_dashboard_dashboard_id_filtersets_pk_put_with_http_info(body, dashboard_id, pk, opts)
      data
    end

    # Changes a Dashboard&#x27;s Filter set.
    # @param body Filter set schema
    # @param dashboard_id 
    # @param pk 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20017, Integer, Hash)>] InlineResponse20017 data, response status code and response headers
    def api_v1_dashboard_dashboard_id_filtersets_pk_put_with_http_info(body, dashboard_id, pk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_pk_put ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_pk_put"
      end
      # verify the required parameter 'dashboard_id' is set
      if @api_client.config.client_side_validation && dashboard_id.nil?
        fail ArgumentError, "Missing the required parameter 'dashboard_id' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_pk_put"
      end
      # verify the required parameter 'pk' is set
      if @api_client.config.client_side_validation && pk.nil?
        fail ArgumentError, "Missing the required parameter 'pk' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_pk_put"
      end
      # resource path
      local_var_path = '/api/v1/dashboard/{dashboard_id}/filtersets/{pk}'.sub('{' + 'dashboard_id' + '}', dashboard_id.to_s).sub('{' + 'pk' + '}', pk.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20017' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterSetRestApiApi#api_v1_dashboard_dashboard_id_filtersets_pk_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Dashboard's Filter Set.
    # @param body Filter set schema
    # @param dashboard_id The id of the dashboard
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2015]
    def api_v1_dashboard_dashboard_id_filtersets_post(body, dashboard_id, opts = {})
      data, _status_code, _headers = api_v1_dashboard_dashboard_id_filtersets_post_with_http_info(body, dashboard_id, opts)
      data
    end

    # Create a new Dashboard&#x27;s Filter Set.
    # @param body Filter set schema
    # @param dashboard_id The id of the dashboard
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2015, Integer, Hash)>] InlineResponse2015 data, response status code and response headers
    def api_v1_dashboard_dashboard_id_filtersets_post_with_http_info(body, dashboard_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_post"
      end
      # verify the required parameter 'dashboard_id' is set
      if @api_client.config.client_side_validation && dashboard_id.nil?
        fail ArgumentError, "Missing the required parameter 'dashboard_id' when calling FilterSetRestApiApi.api_v1_dashboard_dashboard_id_filtersets_post"
      end
      # resource path
      local_var_path = '/api/v1/dashboard/{dashboard_id}/filtersets'.sub('{' + 'dashboard_id' + '}', dashboard_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse2015' 

      auth_names = opts[:auth_names] || ['jwt']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterSetRestApiApi#api_v1_dashboard_dashboard_id_filtersets_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
